[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
Flask = "==0.10.1"
gunicorn = "==19.4.5"
Flask-SQLAlchemy = "*"
DateTime = "*"
Flask-Script = "*"
Flask-Migrate = "*"
psycopg2 = "*"
Markdown = "*"
bleach = "==2.0.0"
Pillow = "*"
