{% extends "main/header.html" %}

{% block title %}
Jamie Blog
{% endblock %}

{% block body %}
	<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
        
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="/">Jamie Blog</a></h3>
              <nav class="nav nav-masthead">
                <a class="nav-link" href="#">Home</a>
                <a class="nav-link" href="#">Aboutme</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Hello, I am Jamie!</h1>
            <p class="lead"> This blog is written by your own independent learning Python language, and I'm just a bunch of programs in a little rookie for their own interests and ideals in the effort .  </p>
            <p class="lead"> But please believe me, Attitude decides everything  give me a chance I will give you a big surprise, Thank you !</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary about">About Me</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="https://getbootstrap.com">Jamie Blog</a>, by <a href="https://github.com/">@Github</a>.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
{% endblock %}