
body {
	background-color: #EEE;
}

.navbar {
	background-color: #EEE;
	margin:20px 0 0 0;
}

.navbar-brand {
	font-size: 40px;
	line-height:0.5;
}
.navbar-nav > li > a {
	font-size: 20px;
} 


.header-bottom {
	color:#777
}

.header-bottom .row {
	padding-top:30px;
}

.header-bottom > h5 {
	margin-bottom:15px;
	margin-left:18px;
}